---
import Layout from "@/layouts/Layout.astro";

const { level } = Astro.params;

export async function getStaticPaths() {
  const levels = ['N5', 'N4', 'N3', 'N2', 'N1'];

  return levels.map((level) => ({
    params: { level }
  }));
}
---

<Layout>
	<h1 class="text-3xl font-bold text-center mt-10">Tes Level {level}</h1>
	<p class="text-center mt-4">Ini adalah halaman quiz untuk level {level}.</p>
</Layout>
